{% extends "base.html.twig" %}

{% block content %}
    <h1 class="text-xl font-bold">Admin: {{ rfc.title }}</h1>

    <input class="p-2 mb-8 shadow rounded" style="width: 100%;" value="PHP RFC {% if rfc.rejected %}Rejected{% else %}Accepted{% endif %}: {{ rfc.title }}" />

    <textarea class="p-2 shadow rounded" style="width: 100%; height: 300px;">
{% autoescape 'html' %}
<p>Hey there fellow PHP RFC Watcher,</p>

<ul>
<li><strong>RFC:</strong> <a href="{{ rfc.url }}">{{ rfc.title }}</a></li>
<li><strong>Target:</strong> {{ rfc.targetPhpVersion }}</li>
<li><strong>Status:</strong> {% if rfc.rejected %}Rejected{% else %}Accepted{% endif %}</li>
{% if rfc.discussions|length > 0 %}
<li><strong>Discussions:</strong> {% for discussion in rfc.discussions %}<a href="{{ discussion }}">{{ loop.index }}</a>{% if not loop.last %}, {% endif %}{% endfor %}
{% endif %}

</ul>

<h4>Votes</h4>
<ul>
{% for vote in rfc.votes %}
<li> {{ vote.question }} {% for answer,count in vote.currentVotes %}{{ count }} {{ answer }}{% if not loop.last %}, {% endif %}{% endfor %}
</li>
{% endfor %}

<p>Let me know what you think about this vote or the newsletter in general by just replying to this e-mail.</p>

<p>greetings,<br />Benjamin</p>
{% endautoescape %}

    </textarea>

{% endblock %}
