{% extends "base.html.twig" %}

{% block content %}
    <h1 class="title is-4 has-text-uppercase">Admin</h1>

    <div class="columns is-multiline">
        {% for rfc in rfcs %}
        <div class="column is-4">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">{{ rfc.title }}</p>
                </header>
                <div class="card-content">
                    <div class="content is-small">
                        <p>
                            <strong>Status:</strong>
                            {{ rfc.status }}
                        </p>

                        <p>
                            <strong>Target Version:</strong>
                            {{ rfc.targetPhpVersion|default('unknown') }}
                        </p>

                        <p>
                            <strong>Discussions:</strong>
                            {% for discussion in rfc.discussions %}
                                <a href="{{ discussion }}">#{{ loop.index }}</a>
                                {% else %}
                                None
                            {% endfor %}
                        </p>
                    </div>
                </div>
                <footer class="card-footer">
                    <form method="POST" action="{{ path('admin_delete_rfc', {'id': rfc.id}) }}" class="card-footer-item">
                        <a class="button is-info mr-2" href="{{ path('admin_edit_rfc', {'id': rfc.id}) }}">Edit</a>
                        <a class="button is-info mr-2" href="{{ path('admin_export_rfc', {'id': rfc.id}) }}">Export</a>
                        <button class="button is-danger">Delete</button>
                    </form>
                </footer>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
