{% import 'Default/rfc_macros.html.twig' as macros %}

<div class="card">
    <div class="card-content">
        {% if rfc.status == 'open' %}
            <span class="tag is-info mr-2">Active</span>
        {% endif %}

        <a class="title is-4 has-text-dark hover-underline" href="{{ rfc.url }}">{{ rfc.title }}</a>

        <span class="is-size-7">
            (<a class="has-text-dark hover-underline" href="{{ path('view', {'slug': rfc.slug}) }}" target="_blank">Permalink</a>)
        </span>

        {% if rfc.targetPhpVersion %}
            <div class="is-pulled-right">
                <span class="tag is-secondary">PHP {{ rfc.targetPhpVersion }}</span>
            </div>
        {% endif %}

        {{ include('Default/rfc_discussion.html.twig', { rfc: rfc }) }}

        {% for question in rfc.questions %}
            <div class="{% if not loop.last%}mb-6{% endif %}">
                <div class="mb-2 has-text-break">
                    {{ question.question }}
                </div>

                <div class="mb-2">
                    <div class="is-fullwidth">
                        <div class=" p-0 is-flex is-size-7 is-align-items-stretch" style="width: 100%">
                            {% for vote in question.results %}
                                {% set share = (vote.share * 100)|number_format(0) %}

                                {% if share > 0 %}
                                    <div class="{{ macros.rfc_color(loop.index0) }} is-inline-block has-text-white has-text-centered"
                                         style="width: {{ share }}%">{{ share }} %
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

                {% for vote in question.results %}
                    <div class="mb-1">
                        <div class="{{ macros.rfc_color(loop.index0) }} is-inline-block mr-2" style="width: 8px; height: 8px;"></div>
                        <span class="is-size-6">{{ vote.option }}: <span class="has-text-weight-normal">{{ vote.votes }}</span></span>
                    </div>
                {% endfor %}

                <div class="has-text-grey is-size-7 mt-2 ml-4">
                    Total number of votes cast: <span class="has-text-weight-normal">{{ question.votes }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
